.contenedor_popUp
    border: 10px solid black
    position: fixed
    z-index: 10
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.8)
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    .contenedor_datos-personaje
        border: 5px solid red
        width: 1000px
        // height: 55vh
        padding: 50px
        display: grid
        grid-template-columns: 1fr 2fr
        column-gap: 35px
        .contenedor_imagen-personaje
            width: 275px
            height: 366.66px
            border-radius: 3px
            overflow: hidden
            box-shadow: 5px 3px 10px 0px lightslategrey
            img
                width: 100%
                display: block
                object-fit: cover
        .contenedor_detalles
            display: flex
            flex-direction: column
            .nombre
                text-transform: uppercase
                letter-spacing: 2px
                font-size: 25px
                font-weight: 500
                margin-bottom: 20px
            .contenedor_pestañas
                display: flex
                justify-content: space-around
                align-items: center
                .pestaña
                    background-color: rgba(0, 0, 0, 0.6)
                    width: 100%
                    padding: 10px
                    border-radius: 0 20px 0 0
                    cursor: pointer
                    text-transform: uppercase
                    letter-spacing: 1px
                    position: relative
                    top: 2px
                    font-weight: 500
                    color: #fff
                .pestaña-activa
                    background-color: #5cc7b2
                    color: white
            .contenedor_datos
                background-color: white
                // powerstats
                .powerstats
                    display: none
                .seleccionado
                    display: block
                    li
                        display: flex
                        justify-content: space-between
                        padding: 1.2rem
                        box-shadow: 5px 3px 5px 0px lightslategrey
