/* Contenedor principal - main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - alfabeto */
.contenedor_alfabeto {
  /* border: 2px solid red; */
}
.boton_alfabeto {
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
  color: tomato;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.boton_alfabeto.active {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 2px solid red;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - personajes */
.contenedor_personajes {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - tarjeta */
.contenedor_tarjeta {
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  box-shadow: 5px 3px 10px 0px lightslategray;
}

/* ---- ---- ---- ---- ---- ---- ---- */
  /* Contenedor - imagen */
.contenedor_imagen {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
img {
  width: 100%;
  object-fit: fill;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - datos-tarjeta */
.contenedor_datos-tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 10px 10px;
}
.nombre_personaje {
  font-size: 20px;
  font-weight: bold;
}
.contenedor_botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
button {
  color: #FFF;
  font-size: 12px;
  font-weight: lighter;
  text-transform: capitalize;
  border: none;
  border-radius: 3px;
  padding: 6px 10px 4px;
}
.boton_favoritos {
  background-color: orange;
}
.boton_modificar {
  background-color: #3993DD;
}
.boton_eliminar {
  background-color: #FF101F;
}
