/* Contenedor principal - main */
.main_inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;

    border: 5px solid red;
  }

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - inicio */
.contenedor_inicio {
    width: 1000px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    border: 10px solid tomato;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - portadas */
.contenedor_portadas {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - heroes */
.contenedor_heroes {
    background: linear-gradient(
            rgba(32, 178, 170, 0.75), 
            rgba(32, 178, 170, 0.75)), 
        url("../../../imagenes/super_heroe.jpg");
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - villanos */
.contenedor_villanos {
    background: linear-gradient(
            rgba(240, 128, 128, 0.75), 
            rgba(240, 128, 128, 0.75)),
        url("../../../imagenes/super_villano.jpg");
}

.binomio {
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - carrusel */
.contenedor_carrusel {
    border: 6px solid purple;
    width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 10px 0;
    overflow: hidden;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Titulo - titulo_carrusel */
.titulo_carrusel {
    border: 3px solid red;
    align-self: flex-start;
    margin: 0 10px;
    text-transform: capitalize;
    /* letter-spacing: 5px; */
    font-size: 22px;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - imagenes_carrusel */
.contenedor_imagenes-carrusel {
    border: 3px solid blue;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ---- ---- ---- ---- ---- ---- ---- */
/* Contenedor - imagen-carrusel */
.contenedor_imagen-carrusel {
    border: 3px solid green;
    width: 200px;
    height: 230px;
    position: relative;
}
/* Contenedor - titulo-imagen */
.contenedor_titulo-imagen {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0px;
    width: 100%;
}
/* Titulo - imagen-carrusel */
.titulo_imagen-carrusel {
    padding: 20px;
    /* position: absolute; */
}
/* .contenedor_imagen-carrusel >  */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
