/* Contenedor principal - header */
.contenedor_header
    height: 400px
    width: 100%
    background-color: #5cc7b2
    color: #fff
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    align-items: center
    a
        color: white
        text-decoration: none
    /* Creditos */
    .contenedor_creditos
        position: absolute
        top: 40px
        left: 60px
        text-transform: uppercase
        font-size: 20px
        font-weight: 100
        span
            text-transform: capitalize
            font-size: 22px
            font-weight: bolder
    /* Titulo */
    .contenedor_titulo
        text-transform: uppercase
        margin-bottom: 60px
        .titulo_principal
            font-size: 100px
            margin: 0
            padding: 0
    /* Navbar */
    .menu_navegacion
        position: absolute
        top: 335px
        ul
            display: flex
            flex-direction: row
            justify-content: center
            gap: 80px
            li 
                font-weight: lighter
                list-style: none
                a 
                    font-size: 23px
                    color: white
                    text-decoration: none
                    text-transform: uppercase
                a.active 
                    font-weight: 600
    /* Buscador */
    .contenedor_buscador
        width: 400px
        font-size: 23px
        position: absolute
        right: 60px
        top: 330px
        background-color: #fff
        color: lightgray
        padding: 5px 20px
        border-radius: 2px
        .resultados_lista-busqueda
            display: flex
            flex-direction: column
            gap: 2px
            .resultado_personaje
                a
                    color: grey
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    gap: 15px
                    .resultado_imagen-personaje 
                        width: 56px
                        height: 75px
                        img
                            object-fit: cover
                a:hover
                    box-shadow: 1px 1px 5px lightgrey
