.contenedor_usuario-icono
    position: absolute
    top: 40px
    right: 60px
.contenedor_popUp-usuario
    .contenedor_usuario-acciones
        background-color: blue
    &.popUp-usuario-acciones
        position: absolute
        top: 0
        right: 0
        background-color: rgba(0, 0, 0, 0.8)
        width: 100vw
        height: 100vh
        z-index: 10
        position: fixed
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center


