.contenedor_paginacion
    .boton-pagina
        color: red
        background: white
        display: inline-block
        padding: 0 6px
        font-weight: lighter
        font-size: 20px
        color: tomato
        border: none
        cursor: pointer
    .pagina-seleccionada
        font-size: 20px
        font-weight: bolder
        border-bottom: 2px solid red
    .anterior,
    .siguiente
        margin-top: 30px
        margin-bottom: 20px
        font-size: 16px
        color: white
        background-color: tomato
        padding: 5px 15px
        border-radius: 5px
    .anterior
        margin-right: 15px
    .siguiente
        margin-left: 15px
    .desactivado
        opacity: 0.2
        cursor: auto